.container {
    width: 500px;
    height: 500px;
    position: absolute;
    background: #f0f0f0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 16px 16px 10px #d7d7d7;
}

.face {
    width: 60px;
    height: 250px;
    position: relative;
    background: #fce2c4;
    top: 100px;
    left: 220px;
    border: 4px solid #ffa945;
    border-bottom: none;
    transform: rotate(4deg);
}

.face::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: #fce2c4;
    top: 170px;
    left: -12px;
    border-bottom: 6px solid #ffa945;
    border-left: 4px solid #ffa945;
    border-bottom-left-radius: 10px;
    transform: skew(-40deg);
}

.face::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: #fce2c4;
    top: 80px;
    left: 56px;
    border-radius: 50%;
    border: 4px solid #ffa945;
    border-top: none;
    border-left: none;
    transform: rotate(-40deg);
}

.nose {
    width: 50px;
    height: 50px;
    position: relative;
    background: #fce2c4;
    left: 172px;
    bottom: 90px;
    border: 4px solid #ffa945;
    border-right: none;
    transform: rotate(4deg);
    border-radius: 14px 0 0 14px;
    z-index: 1;
}

.nose::after {
    content: "";
    width: 30px;
    height: 10px;
    position: absolute;
    background: #fce2c4;
    border-top: 4px solid #ffa945;
    top: -4px;
    left: 30px;
}

.eye {
    width: 40px;
    height: 44px;
    position: relative;
    background: white;
    border-radius: 50%;
    border: 3px solid black;
    left: 206px;
    bottom: 188px;
    transform: rotate(4deg);
    z-index: -0;
}

.eye::before {
    content: "";
    width: 10px;
    height: 12px;
    position: absolute;
    background: black;
    border-radius: 50%;
    left: 14px;
    top: 22px;
    transform: rotate(169deg);
}

.eye::after {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    background: white;
    border-radius: 50%;
    left: 18px;
    top: 24px
}

.eye2 {
    height: 40px;
    left: 234px;
    bottom: 224px;
    z-index: 2;
}

.eye2::before {
    top: 12px;
}

.eye2::after {
    top: 14px
}

.hair {
    position: relative;
    left: 12px;
    bottom: 249px;
}

.hair > div:nth-child(1) {
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid green;
    left: 180px;
    bottom: 40px;
    border-radius: 50px 40px 0 0;
    transform: rotate(30deg);

}

.hair > div:nth-child(2) {
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid green;
    left: 200px;
    bottom: 40px;
    border-radius: 50px 40px 0 0;
    transform: rotate(70deg);
}

.hair > div:nth-child(3) {
    position: absolute;
    height: 30px;
    width: 80px;
    border-top: 20px solid green;
    left: 220px;
    bottom: 50px;
    border-radius: 50px 40px 0 0;
    transform: rotate(120deg);
}

.hair > div:nth-child(4) {
    position: absolute;
    height: 30px;
    width: 90px;
    border-top: 20px solid green;
    left: 200px;
    bottom: 20px;
    border-radius: 50px 40px 0 0;
    transform: rotate(10deg);
}

.hair > div:nth-child(5) {
    position: absolute;
    height: 30px;
    width: 50px;
    border-top: 20px solid green;
    left: 252px;
    bottom: 15px;
    border-radius: 50px 40px 0 0;
    transform: rotate(10deg);
}